target/
.vscode/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

### Eclipse Patch ###
# Eclipse Core

# JDT-specific (Eclipse Java Development Tools)

.idea/
*.iml