<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.file.mappers.FileMapper">

	<select id="getFileList" parameterType="java.util.Map" resultType="java.util.Map">
		/* common.file.mappers.FileMapper.getFileList */
        SELECT file_seq,
               file_name,
               file_name_ext,
               file_size
          FROM file
         WHERE file_id = #{fileId}
	</select>

	<select id="getFile" parameterType="java.util.Map" resultType="java.util.Map">
	    /* common.file.mappers.FileMapper.getFile */
        SELECT file_name,
               file_name_ext,
               file_size,
               copy_file_path,
               copy_file_name
          FROM file
         WHERE file_id = #{fileId}
           AND file_seq = #{fileSeq}
	</select>

	<insert id="insertFile" parameterType="java.util.Map">
	 /* common.file.mappers.FileMapper.insertFile */
     INSERT INTO file (
            file_id,
            file_name,
            file_name_ext,
            file_size,
            copy_file_path,
            copy_file_name
          ) VALUES (
            #{fileId},
            #{fileName},
            #{fileNameExt},
            #{fileSize},
            #{copyFilePath},
            #{copyFileName}
	      )
	</insert>

	<delete id="deleteFile" parameterType="java.util.Map">
        /* common.file.mappers.FileMapper.deleteFile */
        DELETE 
          FROM file
         WHERE file_id = #{fileId}
           AND file_seq = #{fileSeq}
	</delete>

</mapper>