<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 error</title>
</head>
<body>
    <h1>404 error 페이지 입니다.</h1>
    <div>
        status : <span th:text="${status}"></span>
    </div>
    <div>
        path : <span th:text="${path}"></span>
    </div>
    <div>
        error : <span th:text="${error}"></span>
    </div>
    <div>
        timestamp : <span th:text="${timestamp}"></span>
    </div>
    <div>
        message : <span th:text="${message}"></span>
    </div>
    <div>
        exception : <span th:text="${exception}"></span>
    </div>
    <div>
        trace : <span th:text="${trace}"></span>
    </div>
</body>
</html>