@charset "utf-8";

html {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--md-sys-color-surface-container-lowest);
    font-family: var(--njs-font-family-base);
    color: var(--md-sys-color-on-surface);
    font-size: var(--njs-font-size-m);
    font-weight: var(--njs-font-weight-m);
    line-height: var(--njs-line-height-m);
}

a, input, select, textarea, button {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
    color: var(--md-sys-color-surface-tint);
}
.pagination__ a {
    color: var(--md-sys-color-on-surface);
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

html [lang] {
    display: none;
}

/* input element styles */
input[type='text'], input[type='number'], input[type='tel'], input[type='password'], select, textarea {
    color: var(--md-sys-color-on-surface);
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
    border: 1px solid var(--md-sys-color-outline-variant);
    line-height: 19px;
    margin: 2px 0;
}

input[type='text']:hover, input[type='number']:hover, input[type='tel']:hover, input[type='password']:hover, select:hover, textarea:hover,
input[type='text']:focus, input[type='number']:focus, input[type='tel']:focus, input[type='password']:focus, select:focus, textarea:focus {
    border: 1px solid var(--md-sys-color-outline-variant);
}

select {
    padding: 0;
    height: 24px;
}

select[multiple='multiple'] {
    height: auto;
}

.searchBox select {
    width: auto;
}

input[readonly], input[readonly]:hover, input[readonly]:focus {
    color: var(--md-sys-color-on-surface) !important;
    background-color: var(--md-sys-color-surface-container-low) !important;
}

input[disabled][type='text'],
input[disabled][type='number'],
input[disabled][type='tel'],
select[disabled],
textarea[disabled],
input[disabled][type='text']:hover,
input[disabled][type='number']:hover,
input[disabled][type='tel']:hover,
select[disabled]:hover,
textarea[disabled]:hover,
input[disabled][type='text']:focus,
input[disabled][type='number']:focus,
input[disabled][type='tel']:focus,
select[disabled]:focus,
textarea[disabled]:focus {
    color: var(--md-sys-color-on-surface) !important;
    background-color: var(--md-sys-color-surface-container-low);
}

input[type='radio'], input[type='checkbox'] {
    vertical-align: middle;
    border: none;
}

.select_input_label__ input[type='radio'], .select_input_label__ input[type='checkbox'] {
    margin: -2px 4px 0 10px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px solid var(--md-sys-color-outline-variant);
    word-break: break-all;
    padding: 5px 5px;
    height: 32px;
}

th, tfoot td {
    background-color: var(--md-sys-color-surface-container);
    font-weight: 400;
}

.form__ th, .form__ td,
.grid__ th, .grid__ td {
    padding: 0 5px;
}

.grid__ th, .grid__ td {
    border-left: none;
    border-right: none;
}

.grid__ tr {
    border-left: 1px solid var(--md-sys-color-outline-variant);
    border-right: 1px solid var(--md-sys-color-outline-variant);
}

.tbody_wrap__ tbody:last-child tr:last-child td:not(.empty__) {
    border-bottom: none;
}

.grid_container__ {

}

.grid_container__ .grid__ tr {
    border-left: none;
    border-right: none;
}

.grid_container__ tr .grid_head_fixed__:first-child,
.grid_container__ tr .grid_body_fixed__:first-child {
    border-left: 1px solid var(--md-sys-color-outline-variant);
}

.grid_container__ .grid_wrap__ {
    border-right: 1px solid var(--md-sys-color-outline-variant);
}

.grid_head_fixed__, .grid_body_fixed__ {
    padding: 6px 5px !important;
}

.list__ {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__>li {
    margin: 0;
    padding: 0px 5px;
    line-height: 31px;
    border: 1px solid var(--md-sys-color-outline-variant);
    border-top: none;
}

.list__>li:first-child {
    border-top: 1px solid var(--md-sys-color-outline-variant);
}

.btn-box {
    padding: 10px 0;
    text-align: right;
}

.pagination-box {
    padding: 10px 0;
    line-height: 0;
    text-align: center;
}

.popup__ .view_context__ {
    padding: 20px 20px 10px 20px;
}

/* Index */
.page-wrap {
    min-height: 100%;
}

.main-nav {
    position: fixed;
    width: 270px;

    transform-origin: left;
    transition: margin-left var(--njs-motion-duration-ultra-slow) ease, box-shadow var(--njs-motion-duration-fast) ease;

    background-color: var(--md-sys-color-secondary-container);
    min-height: 100%;

    border-radius: var(--njs-border-radius-none) var(--njs-border-radius-m) var(--njs-border-radius-m) var(--njs-border-radius-none);

    z-index: 2;
}

.main-nav:hover {
    box-shadow: var(--njs-elevation-s);
}

.content-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;

    position: relative;
    min-height: 100%;
    margin-left: 270px;
    transition: margin-left var(--njs-motion-duration-ultra-slow) ease;
}

.page-footer {
}

/* Layouts */
.flex-horizental {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-horizental>* {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
}

.flex-horizental>*:last-child {
    margin-right: 0;
}

.flex-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-vertical>* {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 16px;
}

.flex-vertical>*:last-child {
    margin-bottom: 0;
}

.fileSummaryList {
    margin-left: 5px;
}

/* view common */
.view-intro {
    cursor: default;
}

.view-intro .view-desc {
    position: absolute;
    background-color: var(--md-sys-color-surface-container);
    border: 1px solid var(--md-sys-color-outline-variant);
    margin: -15px 0 0 0;
    padding: 10px 10px 10px 30px;
    opacity: 0;
    font-size: var(--njs-font-size-s-plus);
    font-weight: var(--njs-font-weight-s-plus);
    line-height: 200%;
    box-shadow: var(--njs-elevation-s);

    transform: scaleY(0);
    transform-origin: top;
    transition: transform var(--njs-motion-duration-slow) ease, opacity var(--njs-motion-duration-fast) ease;
    z-index: 1;
}

.view-intro:hover .view-desc {
    will-change: transform, opacity;

    opacity: 1;
    transform: scaleY(1);
}

/* margins */
.mb10 {
    margin-bottom: 10px;
}

.alert:not(.view_context__) {
    padding: 10px 10px 10px 30px;
    margin: 10px 0;
    background: var(--md-sys-color-surface-container) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAkElEQVQoz5WQQQrCUAxE3/z/FXqDegnPUC8k9AIFV17LjZfpBVzUn7ipIDZiGxgCk2EyiQwubKgEDBv0Awb+zRp0Bl3Ae/nhdJr7LYq0rcJIUmtSG2njDe497n00koELdgCC5+xUFPnAhEGd4TXnvcH1g1ugJMjvfKr1DoxIh+Q+/jv+YXCemmbd50w6rtG9ANZ+P7VXtHZhAAAAAElFTkSuQmCC') no-repeat 10px 14px;
    border-radius: var(--njs-border-radius-m);
}

.markdown-body .alert:not(.view_context__) {
    margin: 10px 0;
}

.view_context__ p {
    margin: 0 0 10px 0;
}

.view_context__ *:last-child {
    /*margin: 0;*/
}

.view_context__ .pagination-box {
    margin-top: 16px;
}

.docs_contents__ .view_context__ pre>code,
pre.shell>code {
    font-family: var(--njs-font-family-code);
    display: inline;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow: visible;
    font-size: var(--njs-font-size-s);
    font-weight: var(--njs-font-weight-s);
    line-height: var(--njs-line-height-s);
}

/* Webkit scrollbars */
textarea::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 6px;
    background-color: var(--md-sys-color-surface-container);
}

textarea:hover::-webkit-scrollbar-track,
select:hover::-webkit-scrollbar-track {
    background-color: var(--md-sys-color-surface-container-low);
}

textarea:hover::-webkit-scrollbar-thumb,
select:hover::-webkit-scrollbar-thumb{
    background-color: var(--md-sys-color-surface-container-highest);
}
