<style type="text/css">
.index-header .header-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 123px;
	background: url("images/header-back.png") no-repeat;
    background-color: #fff;
}

.index-header .logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    height: 123px;
    line-height: 106px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    transition: margin-left 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.index-header .logo .home>span {
    font-weight: 600;
    font-size: 32px;
    color: rgba(0,0,0,.87);
    font-family: cursive;
    padding-left: 32px;
    background: url("images/natural_js.png") no-repeat 0 50%;
    background-size: 28px;
}

.index-header .logo .home>span>sup {
    font-weight: 400;
    font-size: 16px;
}

</style>

<article class="index-header">
    <div class="logo">
        <a class="home" href="./"><span>Natural-JS<sup>Boot</sup></span></a>
    </div>
	<div class="header-back"></div>
</article>

<script type="text/javascript">
	N(".index-header").cont({
		init : function(view, request) {

		}
	});
</script>