<style>
.index-lefter {
    position: relative;
    height: 100%;
}

.index-lefter .logo {
    width: 255px;
    height: 123px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.index-lefter .logo .home>span {
    display: inline-block;
    width: 255px;
    height: 123px;
    background-size: auto 75px;
    font-weight: 600;
    font-size: 32px;
    color: rgba(0,0,0,.87);
    line-height: 100px;
    text-align: center;
    font-family: sans-serif;
}

.index-lefter .logo .home>span>sup {
    font-weight: 400;
    font-size: 16px;
}

.index-lefter .logo .lefter-toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    transition: margin-right 0.5s ease;
}

.index-lefter .logo .lefter-toggle-button>span {
    display: inline-block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background: url("images/lefter-toggle-button.png") no-repeat 50% 50%;
    transition: transform 0.3s ease;
}

.index-lefter .logo .lefter-toggle-button:hover>span {
    will-change: transform;
}

.index-lefter .left-menu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.index-lefter .left-menu:hover::-webkit-scrollbar-track {
    background: rgba(0,0,0,.06);
}

.index-lefter .left-menu:hover::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
    border-radius: 2px;
}

.index-lefter .left-menu {
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.index-lefter .left-menu sup {
    color: yellow;
}

.index-lefter nav {
    margin: 0;
    padding: 8px 0;
}
.index-lefter nav > a {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    letter-spacing: 0.0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    line-height: 1.5rem;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.87);
    height: calc(48px - 2 * 4px);
    margin: 8px 8px;
    padding: 0 8px;
}
.index-lefter nav > h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    display: block;
    margin-top: 0;
    line-height: normal;
    margin: 0;
    padding: 0 16px;
}
.index-lefter nav > hr {
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 0;
}
.index-lefter nav > a > i {
    display: none;
}

.index-lefter .left-menu {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
</style>

<article class="index-lefter">
    <div class="logo">
        <a class="home" href="./"><span>Natural-JS<sup>BOOT</sup></span></a>
        <a class="lefter-toggle-button" href="#" data-status="show"><span></span></a>
    </div>
    <aside class="mdc-drawer left-menu">
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item" href="html/com/app/sample/documents.html" data-pageid="documents">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">menu_book</i>
                    <span class="mdc-list-item__text">개발가이드</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/temp0101.html" data-pageid="temp0101">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">menu_book</i>
                    <span class="mdc-list-item__text">메시지처리(N.alert, N.notify)</span>
                </a>

                <hr class="mdc-list-divider">
                <h6 class="mdc-list-group__subheader">템플릿</h6>
                <a class="mdc-list-item" href="html/com/app/sample/type0101.html" data-pageid="type0101">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">조회폼+그리드</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/type0201.html" data-pageid="type0201">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">조회폼+그리드(CRUD)</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/type0301.html" data-pageid="type0301">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">조회폼+그리드+DB페이징</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/type0401.html" data-pageid="type0401">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">조회폼+그리드+상세폼(수평배치)</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/type0402.html" data-pageid="type0402">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">조회폼+그리드+상세폼(수직배치)</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/type0501.html" data-pageid="type0501">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">조회폼+리스트+그리드+상세폼</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/type0601.html" data-pageid="type0601">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">트리+그리드(CRUD)</span>
                </a>
                <a class="mdc-list-item" href="html/com/app/sample/type0701.html" data-pageid="type0701">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">view_quilt</i>
                    <span class="mdc-list-item__text">조회폼+탭</span>
                </a>
            </nav>
        </div>
    </div>
</article>

<script type="text/javascript">
    N(".index-lefter").cont({
        init : function(view, request) {
            if(N.context.attr("template").design === "material") {
                mdc.list.MDCList.attachTo(N(".left-menu .mdc-list", view).get(0)).wrapFocus = true;
                N(".left-menu .mdc-list .mdc-list-item", view).each(function(i, el) {
                    mdc.ripple.MDCRipple.attachTo(el);
                });
            }

            N(".left-menu", view).on("click.left-menu", "a", function(e) {
                e.preventDefault();

                var selfEle = N(this);

                if(selfEle.is("[data-pageid]")) {
                    location.hash = btoa(encodeURIComponent(selfEle.data("pageid") + "$" + selfEle.find("span").text()) + "$" + encodeURIComponent(selfEle.attr("href")));

                    if($(window).width() <= 1001) { // 768 + 256 - 17px(?)
                        N(".lefter-toggle-button", view.closest(".page-wrap")).trigger("click.lefter");
                    }
                }

                selfEle = undefined;
            });

            N(".lefter-toggle-button", view.closest(".page-wrap")).on("click.lefter", function(e) {
                e.preventDefault();

                var selfEle = N(this);
                var mainNav = view.closest(".main-nav");

                if (selfEle.data("status") === "show") {
                    if($(window).width() <= 1001) { // 768 + 256 - 17px(?)
                        N(".content-wrap .main-contents", ".page-wrap").off("click.lefter");
                        mainNav.css("z-index", "2");
                    }

                    N(".lefter-toggle-button>span", view.closest(".page-wrap")).css("transform", "").off("mouseover.lefter").off("mouseout.lefter");

                    mainNav.css("margin-left", "-" + mainNav.width() + "px");
                    if($(window).width() > 1001) { // 768 + 256 - 17px(?)
                        N(".index-header .logo", ".page-wrap").css("margin-left", "-256px");
                        mainNav.siblings(".main-contents").css("margin-left", "0");
                    }
                    selfEle.data("status", "hide").css("margin-right", "-32px");
                } else {
                    if($(window).width() > 1001) { // 768 + 256 - 17px(?)
                        mainNav.siblings(".main-contents").css("margin-left", "");
                        N(".index-header .logo", ".page-wrap").css("margin-left", "");
                        mainNav.css("z-index", "");
                    }
                    mainNav.css("margin-left", "");
                    selfEle.data("status", "show").css("margin-right", "");

                    N(".lefter-toggle-button>span", view.closest(".page-wrap")).on("mouseover.lefter", function() {
                        $(this).css("transform", "rotate(90deg)");
                    }).on("mouseout.lefter", function() {
                        $(this).css("transform", "");
                    });

                    if($(window).width() <= 1001) { // 768 + 256 - 17px(?)
                        N(".content-wrap .main-contents", ".page-wrap").on("click.lefter", function(e) {
                            e.preventDefault();
                            N(".lefter-toggle-button", view.closest(".page-wrap")).trigger("click.lefter");
                        });
                    }
                }

                mainNav = undefined;
                selfEle = undefined;
            });

            N(window).on("resize.left-menu", function() {
                N(".left-menu", view).innerHeight(N(this).height() - N(".logo", view).height());

                if($(window).width() <= 1001) { // 768 + 256 - 17px(?)
                    N(".lefter-toggle-button", view.closest(".page-wrap")).data("status", "show");
                    N(".index-header .logo").css({
                        "transition": "none",
                        "margin-left": "-256px"
                    });
                    N(".content-wrap .main-contents", ".page-wrap").css({
                        "transition": "none",
                        "margin-left": "0"
                    });
                    N(".main-nav", ".page-wrap").show().css({
                        "transition": "none"
                    });
                    N(".lefter-toggle-button", view.closest(".page-wrap")).trigger("click.lefter");
                    setTimeout(function() {
                        N(".main-nav", ".page-wrap").css("transition", "");
                        N(".content-wrap .main-contents", ".page-wrap").css("transition", "");
                        N(".index-header .logo", ".page-wrap").css("transition", "");
                    }, 0);
                } else {
                    N(".lefter-toggle-button", view.closest(".page-wrap")).data("status", "hide").trigger("click.lefter");
                }
            }).trigger("resize.left-menu");

        }
    });
</script>